body {

}

.qs_survey_question {
  margin: 0;
  padding: 0;
  font-size: 120%;
}
.qs_survey_label {
  padding: 0;
  margin: 0;
}
.qs_statusbar {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
p.qs_statusbar_section {
  padding: 0;
  margin: 0;
  font-size: 80%;
}

td,th {
  text-align: center;
  width: 2em;
}
.sliderBar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background-color: #22e;
}
.sliderLabel {
  float: left;
  width: 100%;
  height: 100%;
  color: #ffa;
  z-index: 100;
  position: relative;
  text-align: center;
  vertical-align: center;
}
#leftLabel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33%;
}
#rightLabel {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33%;
}
#centerLabel {
  position: absolute;
  left: 33%;
  bottom: 0;
  height: 100%;
  width: 33%;
  text-align: center;
}
.sliderLabels {
  display: block;
  position: absolute;
  top: 60%;
  width: 100%;
  height: 10%;
}
#messageContainer {
  position: absolute;
  width: 100%;
  top: 0;
  height: 10%;
}
#authForm {
  position: absolute;
  width: 100%;
  top: 10%;
  height: 25%;
}
#questionText {
  position: absolute;
  width: 100%;
  top: 10%;
  height: 25%;
}
#submitButton {
  position: absolute;
  top: 35%;
  height: 25%;
  width: 50%;
  right: 0%;
}
#skipButton {
  position: absolute;
  top: 35%;
  height: 25%;
  width: 50%;
  left: 0%;
}
.sliderBackground {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
  text-size: 100%;
  background-color: #aaf;
}
